//VARIABLES//

//fonts//
$font: "Unica One", sans-serif;

//backgrounds//
$bg: "/assets/bg.jpg";
$bgdark: "/assets/bgdark.jpg";
$contact: "/assets/contact.gif";
$about: "/assets/about2.png";

//colors//
$font-color: #333333;
$subheading-color: #999999;
$bg-color: #e7e7e7;
$border-color: #dadada;
$highlight-color: #f93959;
