@import "setup";
@import "variables";
@import "glitch";

body {
  background-image: url($bg);
  background-color: $bg-color;
  background-repeat: repeat;
  font-family: $font;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
  color: $font-color;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  // padding-top: 100px;
}

//NAVIGATION STYLES//
.nav {
  display: flex;
  justify-content: space-between;

  &__logo {
    width: 40px;
    opacity: 0.3;
  }

  &__list {
    display: flex;
    align-items: flex-end;
    justify-content: right;
  }

  &__item {
    list-style: none;
    margin-right: 40px;

    & span {
      display: none;
    }
  }

  &__link {
    color: $font-color;
    text-decoration: none;
    position: relative;
  }

  &__link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 10%;
    width: 90%;
    height: 55%;
    z-index: -1;
  }

  &__link:hover::after {
    background: rgba(249, 0, 0, 0.3);
    transition: all 0.5s ease-out;
  }

  &__toggle span,
  &__toggle #toggle {
    display: none;
  }

  &__toggle .fas {
    font-size: 30px;
    color: $highlight-color;
  }
}

//ASIDE STYLES//
.aside {
  font-size: 14px;
  color: $subheading-color;

  &__date {
    position: fixed;
    left: -4.2em;
    top: 50%;
    margin-top: -1.5em;
    transform: rotate(-90deg);
  }

  &__name {
    position: fixed;
    right: -5.5rem;
    top: 50%;
    transform: rotate(90deg);
  }
}

//QUICK INFO STYLES//
.eye {
  width: 40px;
  align-self: center;
  margin: 0 0 10px 10px;
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
}
.eye:hover {
  opacity: 1;
  // filter: drop-shadow(0px 0px 0.1px);
  transform: scale(1.1);
}
.eye.active {
  display: none;
}

.secret {
  z-index: 99;
  transition: none;
  margin: 0;
  padding: 0;
  border: $nyxl-red solid 2px;
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 0;
  display: none;
  color: #ffffff;

  &__title {
    border: 0;
    margin: 0;
    position: relative;
    margin-bottom: 20px;
  }

  &__title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 2%;
    width: 55%;
    height: 55%;
    z-index: -1;
    background: $nyxl-red;
  }

  &__text {
    margin: 0;
  }

  &__media {
    margin-top: 30px;

    & i {
      font-size: 30px;
      color: $nyxl-red;
      transition: all 0.1s ease-in-out;
      margin-right: 5px;
    }

    & i:hover {
      transform: scale(1.2);
    }

    & a {
      text-decoration: none;
    }
  }
}

.secret.active {
  opacity: 1;
  min-height: 50vh;
  min-width: 60vh;
  background-image: url($contact);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: 90% 10%;
  background-color: rgba(20, 26, 57, 0.94);
  position: absolute;
  padding: 20px;
  top: -90px;
  left: 0px;
  transition: 1s;
}

.close {
  margin-top: 50px;
  padding: 0;
  font-size: 30px;
  color: #ffffff;
}

.close:hover {
  color: $nyxl-red;
}

//HEADER STYLES//
.header {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__cntr {
    border: $border-color solid 1px;
    // min-width: 50%;
    margin: 0 auto;
    text-align: left;
    padding: 40px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 500px;

    &__name,
    &__front,
    &__web {
      margin: 5px;
    }

    &__div {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
    }

    &__date {
      color: #ffffff;
      background-color: $highlight-color;
      padding: 10px 20px;
      position: absolute;
      top: -40px;
      left: 30px;
    }

    &__local {
      color: $highlight-color;
      // background-color: white;
      padding: 10px 20px;
      position: absolute;
      bottom: -45px;
      right: 10px;
    }
  }
}

//ABOUT STYLES//

.about::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url($about);
  background-size: cover;
  background-position: center center;
  opacity: 0.3;
  z-index: -1;
}

.about {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__content {
    margin-top: 200px;
    text-transform: uppercase;
    display: flex;
    border: $border-color solid 1px;
    position: relative;

    &__text {
      padding: 0 20px 0 20px;
      font-size: 20px;
    }

    &__first {
      color: #ffffff;
      background-color: $highlight-color;
      padding: 5px 10px;
      position: absolute;
      bottom: -50px;
      left: 30px;
    }

    &__last {
      color: $highlight-color;
      // background-color: white;
      padding: 10px 20px;
      position: absolute;
      top: -45px;
      right: 15px;
    }

    &__img {
      height: 400px;
      align-self: center;
      opacity: 0.5;
      background-color: $highlight-color;
      padding: 0;
    }
  }
}

//PORTFOLIO GALLERY STARTS///
.work {
  &__skills {
    margin: 100px 0 100px 0;
    text-align: center;
    position: relative;
    border: $border-color solid 1px;
    padding: 20px 0 20px 0;

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__item {
      width: calc(100% / 5 - 20px);
      margin: 0 10px 10px;
      padding: 0;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      & i {
        margin: 0;
        padding: 0;
        font-size: 40px;
        color: $highlight-color;
      }
    }

    &__text {
      margin: 10px;
    }

    &__txt {
      color: $highlight-color;
      position: absolute;
      top: -35px;
      right: 30px;
    }
  }

  &__gallery {
    margin: 30px 0 30px 0;
    align-items: center;
    height: 100%;
    border: $border-color solid 1px;
    padding: 50px 0 20px 0;
    position: relative;

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__item {
      width: calc(100% / 2 - 40px);
      margin: 0 20px 50px;
      padding: 0;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    &__title {
      font-size: 25px;
      margin: 0;
    }

    &__text {
      text-transform: lowercase;
      font-size: 18px;
      color: $subheading-color;
    }

    &__img {
      width: 100%;
      height: 100%;
      display: block;
      border: $font-color 1px solid;
      filter: grayscale(100%);
      margin: 0;
      padding: 0;
    }

    &__img:hover {
      filter: grayscale(0);
    }

    &__txt {
      color: #ffffff;
      background-color: $highlight-color;
      padding: 5px 10px;
      position: absolute;
      bottom: -40px;
      left: 30px;
    }
  }
}

//CONTACT SECTION//

.contact::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url($flamingos);
  background-size: cover;
  background-position: center center;
  opacity: 0.2;
  z-index: -1;
}

.contact {
  position: relative;
  height: 100vh;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  &__icons {
    // border: yellow 2px solid;
    & a {
      text-decoration: none;
      color: $font-color;
      font-size: 40px;
    }

    & a:hover {
      color: $highlight-color;
    }
  }
}

//MEDIA QUERIES PARTIAL//
@import "mediaqueries";
