html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#glitch {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper {
  text-align: center;
}

.sub {
  color: #333333;
  letter-spacing: 10px;
}

.glitch {
  position: relative;
  color: #ffffffff;
  font-size: 70px;
  background-color: #000000;
  padding: 0 20px 0 20px;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(88px, 9999px, 25px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  5% {
    clip: rect(96px, 9999px, 64px, 0);
    -webkit-transform: skew(0.44deg);
            transform: skew(0.44deg);
  }
  10% {
    clip: rect(81px, 9999px, 84px, 0);
    -webkit-transform: skew(0.98deg);
            transform: skew(0.98deg);
  }
  15% {
    clip: rect(8px, 9999px, 88px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  20% {
    clip: rect(13px, 9999px, 43px, 0);
    -webkit-transform: skew(0.07deg);
            transform: skew(0.07deg);
  }
  25% {
    clip: rect(14px, 9999px, 7px, 0);
    -webkit-transform: skew(0.06deg);
            transform: skew(0.06deg);
  }
  30% {
    clip: rect(4px, 9999px, 44px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  35% {
    clip: rect(40px, 9999px, 56px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  40% {
    clip: rect(82px, 9999px, 50px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  45% {
    clip: rect(1px, 9999px, 67px, 0);
    -webkit-transform: skew(0.65deg);
            transform: skew(0.65deg);
  }
  50% {
    clip: rect(34px, 9999px, 25px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  55% {
    clip: rect(17px, 9999px, 56px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  60% {
    clip: rect(11px, 9999px, 36px, 0);
    -webkit-transform: skew(0.09deg);
            transform: skew(0.09deg);
  }
  65% {
    clip: rect(56px, 9999px, 22px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  70% {
    clip: rect(45px, 9999px, 72px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  75% {
    clip: rect(65px, 9999px, 47px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  80% {
    clip: rect(88px, 9999px, 5px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  85% {
    clip: rect(72px, 9999px, 7px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  90% {
    clip: rect(69px, 9999px, 27px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  95% {
    clip: rect(62px, 9999px, 72px, 0);
    -webkit-transform: skew(0.23deg);
            transform: skew(0.23deg);
  }
  100% {
    clip: rect(41px, 9999px, 2px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(88px, 9999px, 25px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  5% {
    clip: rect(96px, 9999px, 64px, 0);
    -webkit-transform: skew(0.44deg);
            transform: skew(0.44deg);
  }
  10% {
    clip: rect(81px, 9999px, 84px, 0);
    -webkit-transform: skew(0.98deg);
            transform: skew(0.98deg);
  }
  15% {
    clip: rect(8px, 9999px, 88px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  20% {
    clip: rect(13px, 9999px, 43px, 0);
    -webkit-transform: skew(0.07deg);
            transform: skew(0.07deg);
  }
  25% {
    clip: rect(14px, 9999px, 7px, 0);
    -webkit-transform: skew(0.06deg);
            transform: skew(0.06deg);
  }
  30% {
    clip: rect(4px, 9999px, 44px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  35% {
    clip: rect(40px, 9999px, 56px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  40% {
    clip: rect(82px, 9999px, 50px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  45% {
    clip: rect(1px, 9999px, 67px, 0);
    -webkit-transform: skew(0.65deg);
            transform: skew(0.65deg);
  }
  50% {
    clip: rect(34px, 9999px, 25px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  55% {
    clip: rect(17px, 9999px, 56px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  60% {
    clip: rect(11px, 9999px, 36px, 0);
    -webkit-transform: skew(0.09deg);
            transform: skew(0.09deg);
  }
  65% {
    clip: rect(56px, 9999px, 22px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  70% {
    clip: rect(45px, 9999px, 72px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  75% {
    clip: rect(65px, 9999px, 47px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  80% {
    clip: rect(88px, 9999px, 5px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  85% {
    clip: rect(72px, 9999px, 7px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  90% {
    clip: rect(69px, 9999px, 27px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  95% {
    clip: rect(62px, 9999px, 72px, 0);
    -webkit-transform: skew(0.23deg);
            transform: skew(0.23deg);
  }
  100% {
    clip: rect(41px, 9999px, 2px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(31px, 9999px, 59px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  5% {
    clip: rect(17px, 9999px, 63px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  10% {
    clip: rect(91px, 9999px, 92px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  15% {
    clip: rect(100px, 9999px, 58px, 0);
    -webkit-transform: skew(0.6deg);
            transform: skew(0.6deg);
  }
  20% {
    clip: rect(51px, 9999px, 5px, 0);
    -webkit-transform: skew(0.82deg);
            transform: skew(0.82deg);
  }
  25% {
    clip: rect(28px, 9999px, 89px, 0);
    -webkit-transform: skew(0.25deg);
            transform: skew(0.25deg);
  }
  30% {
    clip: rect(31px, 9999px, 27px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  35% {
    clip: rect(81px, 9999px, 52px, 0);
    -webkit-transform: skew(0.48deg);
            transform: skew(0.48deg);
  }
  40% {
    clip: rect(100px, 9999px, 46px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  45% {
    clip: rect(89px, 9999px, 33px, 0);
    -webkit-transform: skew(0.21deg);
            transform: skew(0.21deg);
  }
  50% {
    clip: rect(55px, 9999px, 92px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  55% {
    clip: rect(53px, 9999px, 64px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  60% {
    clip: rect(25px, 9999px, 5px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  65% {
    clip: rect(25px, 9999px, 34px, 0);
    -webkit-transform: skew(0.31deg);
            transform: skew(0.31deg);
  }
  70% {
    clip: rect(11px, 9999px, 44px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  75% {
    clip: rect(46px, 9999px, 45px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  80% {
    clip: rect(47px, 9999px, 6px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  85% {
    clip: rect(5px, 9999px, 94px, 0);
    -webkit-transform: skew(0.28deg);
            transform: skew(0.28deg);
  }
  90% {
    clip: rect(86px, 9999px, 92px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  95% {
    clip: rect(37px, 9999px, 35px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  100% {
    clip: rect(37px, 9999px, 47px, 0);
    -webkit-transform: skew(0.19deg);
            transform: skew(0.19deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(31px, 9999px, 59px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  5% {
    clip: rect(17px, 9999px, 63px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  10% {
    clip: rect(91px, 9999px, 92px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  15% {
    clip: rect(100px, 9999px, 58px, 0);
    -webkit-transform: skew(0.6deg);
            transform: skew(0.6deg);
  }
  20% {
    clip: rect(51px, 9999px, 5px, 0);
    -webkit-transform: skew(0.82deg);
            transform: skew(0.82deg);
  }
  25% {
    clip: rect(28px, 9999px, 89px, 0);
    -webkit-transform: skew(0.25deg);
            transform: skew(0.25deg);
  }
  30% {
    clip: rect(31px, 9999px, 27px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  35% {
    clip: rect(81px, 9999px, 52px, 0);
    -webkit-transform: skew(0.48deg);
            transform: skew(0.48deg);
  }
  40% {
    clip: rect(100px, 9999px, 46px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  45% {
    clip: rect(89px, 9999px, 33px, 0);
    -webkit-transform: skew(0.21deg);
            transform: skew(0.21deg);
  }
  50% {
    clip: rect(55px, 9999px, 92px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  55% {
    clip: rect(53px, 9999px, 64px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  60% {
    clip: rect(25px, 9999px, 5px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  65% {
    clip: rect(25px, 9999px, 34px, 0);
    -webkit-transform: skew(0.31deg);
            transform: skew(0.31deg);
  }
  70% {
    clip: rect(11px, 9999px, 44px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  75% {
    clip: rect(46px, 9999px, 45px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  80% {
    clip: rect(47px, 9999px, 6px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  85% {
    clip: rect(5px, 9999px, 94px, 0);
    -webkit-transform: skew(0.28deg);
            transform: skew(0.28deg);
  }
  90% {
    clip: rect(86px, 9999px, 92px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  95% {
    clip: rect(37px, 9999px, 35px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  100% {
    clip: rect(37px, 9999px, 47px, 0);
    -webkit-transform: skew(0.19deg);
            transform: skew(0.19deg);
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  10% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  20% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  30% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  40% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  50% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  60% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  70% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  80% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  90% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  100% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
}

@keyframes glitch-skew {
  0% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  10% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  20% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  30% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  40% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  50% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  60% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  70% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  80% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  90% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  100% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
}

@media (max-width: 600px) {
  .glitch {
    font-size: 45px;
  }
}

body {
  background-image: url("../assets/backgrounds/bg.jpg");
  background-color: #e7e7e7;
  background-repeat: repeat;
  font-family: "Unica One", sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
  color: #333333;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  width: 40px;
  opacity: 0.3;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.nav__item {
  list-style: none;
  margin-right: 40px;
}

.nav__item span {
  display: none;
}

.nav__link {
  color: #333333;
  text-decoration: none;
  position: relative;
}

.nav__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 10%;
  width: 90%;
  height: 55%;
  z-index: -1;
}

.nav__link:hover::after {
  background: rgba(249, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.nav__toggle span,
.nav__toggle #toggle {
  display: none;
}

.nav__toggle .fas {
  font-size: 30px;
  color: #f93959;
}

.aside {
  font-size: 14px;
  color: #999999;
}

.aside__date {
  position: fixed;
  left: -4.2em;
  top: 50%;
  margin-top: -1.5em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.aside__name {
  position: fixed;
  right: -5.5rem;
  top: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.eye {
  width: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 10px 10px;
  opacity: 0.3;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.eye:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.eye.active {
  display: none;
}

.secret {
  z-index: 99;
  -webkit-transition: none;
  transition: none;
  margin: 0;
  padding: 0;
  border: #d42331 solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  opacity: 0;
  display: none;
  color: #ffffff;
}

.secret__title {
  border: 0;
  margin: 0;
  position: relative;
  margin-bottom: 20px;
}

.secret__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2%;
  width: 55%;
  height: 55%;
  z-index: -1;
  background: #d42331;
}

.secret__text {
  margin: 0;
}

.secret__media {
  margin-top: 30px;
}

.secret__media i {
  font-size: 30px;
  color: #d42331;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  margin-right: 5px;
}

.secret__media i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.secret__media a {
  text-decoration: none;
}

.secret.active {
  opacity: 1;
  min-height: 40vh;
  min-width: 60vh;
  background-image: url("../assets/backgrounds/contact.gif");
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: 90% 10%;
  background-color: rgba(20, 26, 57, 0.94);
  position: absolute;
  padding: 20px;
  top: -90px;
  left: 0px;
  -webkit-transition: 1s;
  transition: 1s;
}

.close {
  margin-top: 50px;
  padding: 0;
  font-size: 30px;
  color: #ffffff;
}

.close:hover {
  color: #d42331;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__cntr {
  border: #dadada solid 1px;
  margin: 0 auto;
  text-align: left;
  padding: 40px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 500px;
}

.header__cntr__name, .header__cntr__front, .header__cntr__web {
  margin: 5px;
}

.header__cntr__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
}

.header__cntr__date {
  color: #ffffff;
  background-color: #f93959;
  padding: 10px 20px;
  position: absolute;
  top: -40px;
  left: 30px;
}

.header__cntr__local {
  color: #f93959;
  padding: 10px 20px;
  position: absolute;
  bottom: -45px;
  right: 10px;
}

.about::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/backgrounds/about.png");
  background-size: cover;
  background-position: center center;
  opacity: 0.3;
  z-index: -1;
}

.about {
  height: 130vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

.about__content {
  margin-top: 200px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: #dadada solid 1px;
  position: relative;
}

.about__content__text {
  padding: 0 20px 0 20px;
  font-size: 20px;
}

.about__content__first {
  color: #ffffff;
  background-color: #f93959;
  padding: 5px 10px;
  position: absolute;
  bottom: -50px;
  left: 30px;
}

.about__content__last {
  color: #f93959;
  padding: 10px 20px;
  position: absolute;
  top: -45px;
  right: 15px;
}

.about__content__img {
  height: 400px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 0.5;
  background-color: #f93959;
  padding: 0;
}

.work__skills {
  margin: 100px 0 100px 0;
  text-align: center;
  position: relative;
  border: #dadada solid 1px;
  padding: 20px 0 20px 0;
}

.work__skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.work__skills__item {
  width: calc(100% / 5 - 20px);
  margin: 0 10px 10px;
  padding: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.work__skills__item i {
  margin: 0;
  padding: 0;
  font-size: 40px;
  color: #f93959;
}

.work__skills__text {
  margin: 10px;
}

.work__skills__txt {
  color: #f93959;
  position: absolute;
  top: -35px;
  right: 30px;
}

.work__gallery {
  margin: 30px 0 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border: #dadada solid 1px;
  padding: 50px 0 20px 0;
  position: relative;
}

.work__gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.work__gallery__item {
  width: calc(100% / 2 - 40px);
  margin: 0 20px 50px;
  padding: 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.work__gallery__title {
  font-size: 25px;
  margin: 0;
}

.work__gallery__text {
  text-transform: lowercase;
  font-size: 18px;
  color: #999999;
}

.work__gallery__img {
  width: 100%;
  height: 100%;
  display: block;
  border: #333333 1px solid;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin: 0;
  padding: 0;
}

.work__gallery__img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.work__gallery__txt {
  color: #ffffff;
  background-color: #f93959;
  padding: 5px 10px;
  position: absolute;
  bottom: -40px;
  left: 30px;
}

.contact::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/backgrounds/flamingos.jpg");
  background-size: cover;
  background-position: center center;
  opacity: 0.2;
  z-index: -1;
}

.contact {
  position: relative;
  height: 100vh;
}

.contact__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.contact__icons a {
  text-decoration: none;
  color: #333333;
  font-size: 40px;
}

.contact__icons a:hover {
  color: #f93959;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .about__content__text {
    font-size: 18px;
  }
  .about__content__img {
    height: 450px;
  }
  #logo {
    opacity: 1;
    width: 150px;
  }
  .nav__toggle {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-transform: lowercase;
  }
  .nav__toggle input {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  .nav__toggle span,
  .nav__toggle #toggle {
    display: block;
  }
  .nav__toggle i {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: inline-block;
    font-size: 3rem;
  }
  .nav__toggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
    right: 0;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: -3%;
    right: -150%;
    width: 100%;
    height: 110vh;
    background-image: url("../assets/backgrounds/bgdark.jpg");
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
  .nav__item {
    padding: 10px 0;
    font-size: 22px;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .about__content__text {
    font-size: 15px;
  }
  .work__skills__item {
    width: calc(100% / 3 - 20px);
  }
  .work__gallery__item {
    width: calc(100% / 1 - 20px);
  }
}

@media (max-width: 600px) and (max-width: 500px) {
  .about__content {
    margin-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__content__text {
    font-size: 18px;
  }
  .about__content__img {
    margin-top: 20px;
    height: 300px;
    border: #dadada 1px solid;
  }
}

@media (max-width: 600px) {
  /* Landscape phones and down */
}

@media (max-width: 600px) and (max-width: 480px) {
  .secret__title::before {
    width: 75%;
  }
  .secret.active {
    height: 50vh;
    min-width: 50vh;
  }
  .work__skills__item {
    width: calc(100% / 2 - 10px);
    margin: 0 5px 5px;
  }
}
